.App {
  text-align: center;
  padding: 20px;
}

textarea {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
}

button {
  margin: 10px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgba(38, 0, 255, 0.605);
  color: white;
}

h3 {
  margin-top: 20px;
}
